<!DOCTYPE html>
<html>
	<head>
		<title>Survey</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		
		<div class="container">
			<%if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-brand btn pull-right") %>
					<%if current_user.is_admin?%>
						<%= link_to('New Survey', new_survey_template_path, class: "btn btn-primary") %>
					<%end%>
				
			<%end%>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
		
	</body>
</html>
